{% extends 'base.html' %}
{% block title %}blogPost
{% endblock title %}
{% block body %}
<div class="container mt-5">
  <div class="card border-primary " >
   <img src="/media/{{post.image}}" class="card-img" style="height:auto; "alt="...">
   <div class="card-body my-3">
     <h3 class="card-title">{{post.title}}</h3>
     <br>
     <div class="container mt-3">
     <h4 class="font-italic">---<a href={{post.social_media_link}}>{{post.author}}</a></h4>
     </div>
     <br>
     
     <p class="card-text"><small class="text-muted">{{post.timeStamp}}</small></p>
     <button type="button" class="btn btn-primary">
      views <span class="badge badge-light">{{post.views}}</span>
      
    </button>
     <div class="my-2">
      
     
   </div>
   </div>

<!--<div class="container mt-4 mb-4">
  <h2>COMMENTS</h2>
  <div class="row my-3">
    <div class="clo-md-2 bg-success"> image here</div>
    <div class="col-md-10 bg-danger"><b>User name</b> comment</div>
  </div>
  
</div>-->

{% endblock body %}
{% block memeactive %}active
{% endblock %}